/* Utilities */

.container {
    max-width: 1100px;
    margin: 0 auto;
    /* container overflows the extra space on top due to h1 margin */
    overflow: auto;
    padding: 0 40px;
}
.card {
    background-color: var(--fg-white);
    color: var(--fg-black);
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(40, 40, 40, 0.2);
    padding: 20px;
    margin: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--fg-white);
    border: none;
    border-radius: 5px;
}

.btn:hover {
    transform: scale(.98);
}

.btn-outline {
    background-color: transparent;
    border: 1px var(--fg-white) solid;
}

/* background and colored buttons */
.bg-primary, .btn-primary {
    background-color: var(--primary-color);
    color: var(--fg-white);
}

.bg-secondary, .btn-secondary {
    background-color: var(--secondary-color);
    color: var(--fg-white);
}

.bg-dark, .btn-dark {
    background-color: var(--bg-dark);
    color: var(--fg-white);
}

.bg-light, .btn-light {
    background-color: var(--bg-light);
    color: var(--fg-dark);
}

.bg-light-2 {
    background-color: var(--bg-light-2);
    color: var(--fg-dark);
}

.bg-primary a,
.btn-primary a,
.bg-secondary a,
.btn-secondary a,
.bg-dark a,
.btn-dark a {
    color: var(--fg-white);
}

/* Text Colors */
.text-primary {
    color: var(--primary-color);
}

.text-secondary {
    color: var(--secondary-color);
}

.text-dark {
    color: var(--bg-dark);
}

.text-light {
    color: var(--bg-light);
}

.text-light-2 {
    color: var(--bg-light-2);
}

/* Text sizes */
.lead {
    font-size: 20px;
}

.sm {
    font-size: 1rem;
}

.md {
    font-size: 2rem;
}

.lg {
    font-size: 3rem;
}

.xl {
    font-size: 4rem;
}

.text-center {
    text-align: center;
}

/* Alert */
.alert {
    background-color: var(--bg-light-2);
    padding: 10px 20px;
    font-weight: bold;
    margin: 15px 0;
}

.alert i {
    margin-right: 10px;
}

.alert-success {
    background-color: var(--success-color);
    color: var(--fg-white);
}

.alert-error {
    background-color: var(--error-color);
    color: var(--fg-white);
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center; /* center along cross axis */
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* fr = fraction of parent container*/
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

/* Margin */
.my-1 {
    margin: 1rem 0; /* 1rem = 16px */
}

.my-2 {
    margin: 1.5rem 0; /* 1rem = 16px */
}

.my-3 {
    margin: 2rem 0; /* 1rem = 16px */
}

.my-4 {
    margin: 3rem 0;
}

.my-5 {
    margin: 4rem 0; /* 1rem = 16px */
}

.m-1 {
    margin: 1rem; /* 1rem = 16px */
}

.m-2 {
    margin: 1.5r 0; /* 1rem = 16px */
}

.m-3 {
    margin: 2rem; /* 1rem = 16px */
}

.m-4 {
    margin: 3rem;
}

.m-5 {
    margin: 4rem; /* 1rem = 16px */
}

/* Padding */
.py-1 {
    padding: 1rem 0; /* 1rem = 16px */
}

.py-2 {
    padding: 1.5rem 0; /* 1rem = 16px */
}

.py-3 {
    padding: 2rem 0; /* 1rem = 16px */
}

.py-4 {
    padding: 3rem 0;
}

.py-5 {
    padding: 4rem 0; /* 1rem = 16px */
}

.p-1 {
    padding: 1rem; /* 1rem = 16px */
}

.p-2 {
    padding: 1.5r 0; /* 1rem = 16px */
}

.p-3 {
    padding: 2rem; /* 1rem = 16px */
}

.p-4 {
    padding: 3rem;
}

.p-5 {
    padding: 3rem;
}
